.content-header {
    margin-bottom : 50px;
    height: 680px;
    background-color : #EBE9EC;
}

.content_options {
    margin-top: 80px;
    width: 300px;
    margin: 20px;
}

.selections{
    display: flex;

}

.selections_h3 {
    color: #8A2AEF; 
    padding: 20px; 
    font-size: 30px
}


.selections_content {
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    width: 260px;
    margin-top: 20px;
}

.selections_option {
    background-color : #ffffff;
    border-radius : 20px 20px 20px 20px; 
    width: 260px;
    margin-top : 20px;
    margin-bottom : 20px;
    padding: 20px;
    height: 400px;
    display: grid; 
}

.selection {
    color : #7a7a7a;
}

.selection_check {
    margin-left: 10px;
}