.introduce_headerbar {
    display: flex;
    background: linear-gradient(#6205E9, #a674f2);
}

.introduce_slidercontentbar{
    background-color: #EBE9EC;
    height: 500px;
}
.slidecontents_a {
    font-size: 24px;
    /* font-weight: bold; */
    color :#6205E9;
    text-decoration: none;
    
}

.slidercontents_aws {
    height: 500px;
    background-image: url(./img/AWSCloudimg.png);
    /* background-image: url(./img/aboutAWS.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slidercontents_ncloud {
    height: 500px;
    background-image: url(./img/NCloudimg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slidercontents_gcpcloud {
    height: 500px;
    background-image: url(./img/GCPCloudimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slidercontents_micro {
    height: 500px;
    background-image: url(./img/MICloudimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slidercontents_samsung {
    height: 500px;
    background-image: url(./img/SAMCloudimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapText {
    margin-top: 340px;
}

.introduce_comentbar_h1 {
    text-align: left;
    font-size: 40px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    color : #6205E9;
}

.introduce_comentbar_p {
    text-align: left;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 20px;
    color : #848484;
}

.introduce_comentbar_p_sub {
    text-align: left;
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 50px;
    color : #a1a1a1;
}

.navigateResultPage {
    color: white;
    background-color:transparent;
    border: none;
    padding: 20px;
    font-size: 20px;
}

.introduce_footerbar{
    background: linear-gradient(#a674f2, #6205E9);
}